# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Major Course\Semester IV\Operating System\Practicals\5. Operating System - Free Space Management and Disk Scheduling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
